#body{
background: url('../images/dark_wood.png') ;
padding-top: 40px;
}



#banner{
width: 984px;
background: url('../images/banner_actual.png') ;
height: 230px;
}

#Work{
border-width: 1px 0px 1px 0px;
border-style: solid;
border-color: white;


}



.container1{
background=black


}


.container{



}




#banner-nav {
position: relative;
height: 45px;
line-height: 50px;
margin-left: 0px;
margin-right: 0px;
font-size: 18pt;
text-align: right;
background: url('../images/bannernav.png');
}

#container {
width: 984px;
text-align: left;
position: relative;

border-width: 1px 1px 1px 1px;
border-style: solid;
border-color: white;
}


#navigation {
width: 984px;
height: 30px;
text-align: right;
background-color: #6b100f;
margin-top: 0px;
padding-bottom: 1px;
}


h2{
color: white;
}

#stuffs{width: 984px;
background: url('../images/grid.png');
border-width: 1px 1px 1px 1px;
border-style: solid;
border-color: white; 
}



#content{
background-color: url('../images/dark_wood.png');


}

#footer{
width: 984px;
height:100px;
background: url('../images/footer1.png');





}

.footer_text{
font-size:20px;
color: white;
text-align: center;
font-style: helvetica;
border-width: 1px 1px 1px 1px;
border-style: solid;
border-color: white;
}


